@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
    --dark-background: #1F2937;
    --quote-background: #E5E7EB;
    --btn-color: #3882F6;
    --white-text: #F9FAF8;
    --black-text: #1F2937;
    --grey-text: #E5E7EB;    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.header-section {
    background-color: var(--dark-background);
}

/* nav bar */

.nav {
    display: flex;
    justify-content: space-between;
    padding: 40px 15%;
}

.nav span {
    font-size: 24px;
    color: var(--white-text);
    font-weight: bolder;
}

.nav ul li {
    list-style: none;
    display: inline-block;
}

.nav ul li a {
    text-decoration: none;
    color: var(--grey-text);
    padding: 15px;
}

/* hero */
.hero-section {
    display: flex;
    justify-content: space-around;
    padding: 100px 15%;
}

.hero-text h2 {
    font-size: 48px;
    color: var(--white-text);
    font-weight: bolder;
}

.hero-text p {
    font-size: 18px;
    color: var(--grey-text);
}

.hero-placeholder {
    background-color: gray;
    padding: 50px 10%;
    width: 800px;
    margin-left: 20px;
}

.hero-placeholder p {
    text-align: center;
    padding-top: 50px;
}

.hero-text button {
    border: none;
    background-color: var(--btn-color);
    color: var(--white-text);
    border-radius: 5px;
    width: 125px;
    height: 35px;
    font-size: 18px;
    font-weight: bold;
    padding: 0px 10px;
    margin-top: 10px;   
}

/* random info */

.second-section {
    padding-top: 50px;
}

.second-header {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: var(--black-text);
}

.card-container {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    gap: 40px;
}


.card {
    /* border: 1px solid var(--black-text); */
    width: 150px;
    height: 150px;
    
}

.square {
    width: 150px;
    height: 150px;
    border: 4px solid var(--btn-color);
    border-radius: 20px;
    
}

.card p {
    text-align: center;
    margin-top: 10px;
}


/* quote section */
.quote-section {
    background-color: var(--quote-background);
    margin-top: 175px;
    height: 300px;
}

.quote {
    text-align: left;
    width:850px;
    margin: 0 auto;
    padding-top: 45px;
}

.quote p{
    font-style: italic;
    font-size: 36px;
    color: var(--black-text);
}

.quote span {
    font-weight: bolder;
    font-size: 26px;
    color: black;
    padding-left: 550px;
}

/* CTA Sections */
.cta-section {
    padding: 100px;
}

.cta {
    display: flex;
    justify-content: space-between;
    width: 800px;
    height: 100px;
    background-color: var(--btn-color);
    margin: 0 auto;
    border-radius: 10px;
}

.cta-text {
    padding-left: 110px;
    padding-top: 30px;
}

.cta-text span {
    font-size: 22px;
    font-weight: bolder;
    color: var(--white-text);
}

.cta-text p {
    color: var(--white-text);
}

.cta-btn {
    padding-top: 40px;
    padding-right: 100px;
}

.cta-btn button {
    border: var(--white-text) 2px solid;
    background-color: var(--btn-color);
    color: var(--white-text);
    width: 100px;
    height: 25px;
    border-radius: 5px;
    font-weight: bold;
}

/* Footer */
.footer {
    height: 75px;
    background-color: var(--dark-background);
}

.footer p {
    text-align: center;
    padding-top: 35px;
    color: var(--white-text);
}